<div class="login-background bg-white d-flex justify-content-center align-items-center">
    <div class="login-container bg-white row">
        <div class="col-6 bg-secondary login-left-side d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="./../../assets/zirsakht-logo.png" alt="" class="col-6">
                <p class="logo-text col-9 text-white text-center">شرکت ارتباطات زیرساخت</p>
            </div>
        </div>
        <div class="col-6 bg-white login-right-side"></div>
    </div>
</div>
