.login-background {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.login-container {
  background-color: #043f7b;
  width: 50%;
  height: 70%;
}
.login-left-side {
  background-image: url("./../../assets/login-background.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border: 2px solid #043f7b;
  border-right: none;
  border-radius: 0px 0px 0px 12px;
}
.login-right-side {
  border: 2px solid #043f7b;
  border-left: none;
  border-radius: 0px 12px 12px 0px;
}
.login-logo {
    width: 80px;
}
.logo-text {
  font-size: 1.5vw;
  font-weight: bold;
}