
<div   class="container-fluid" style="background-color: var(--color-light-blue);padding-block: 2vh;">
    <div class="row d-flex justify-content-evenly" style="height: 96vh;" >
        <!-- <aside class="d-lg-flex sidebar" 
        [ngClass]="sidebarIsCollapsed ? ['col-lg-small'] : [ 'col-lg-1-3qtr']" 
          > -->
            <app-sidebar-menu-component class="d-lg-flex sidebar justify-content-center align-items-center"
             [ngClass]="sidebarIsCollapsed ? ['col-lg-small'] : [ 'col-lg-1-3qtr']" 
              [collapsedFromParent]="sidebarIsCollapsed"
             (collapsedChanged)="onSidebarToggle($event)"></app-sidebar-menu-component>
        <!-- </aside> -->
        <div
          [ngClass]="sidebarIsCollapsed ? ['col-12', 'col-lg-11'] : ['col-12', 'col-lg-9-3qtr']"
           style="height: 96vh;border-radius: 12px;" 
           >
            <div class="row">
                <header class="header col-12 d-flex justify-content-center align-items-center">

                </header>
                <!-- <header class="header col-12 d-flex justify-content-center align-items-center">
                    <h3 class="text-white">header</h3>
                </header> -->
                <main class="main p-0 col-12">
                    <div  class="col-12 rounded-2">
                        <app-dashboard></app-dashboard>
                    </div>
                </main>
                <footer class="footer col-12 d-flex flex-column justify-content-center align-items-center">

                    <p class="text-center text-white" style="font-size: 0.8rem;">تمامی حقوق مادی و معنوی این سامانه برای شرکت ارتباطات زیرساخت ایران محفوظ است.</p>

                </footer>
            </div>
        </div>
    </div>

</div>