<div class="container-fluid bg-black">
    <div class="row" style="height: 100vh;">
        <aside class="sidebar col-lg-2  d-lg-flex justify-content-center align-items-center">
            <app-sidebar-menu-component></app-sidebar-menu-component>
            <h3 class="text-white">sidebar</h3>
        </aside>
        <div class="col-12 col-lg-10 bg-info">
            <div class="row">
                <header class="header col-12 d-flex justify-content-center align-items-center">
                    <img src="./../../assets/vezarat-ertebatat-white.png" class="col-3 col-md-2 col-lg-1" alt="">
                </header>
                <!-- <header class="header col-12 d-flex justify-content-center align-items-center">
                    <h3 class="text-white">header</h3>
                </header> -->
                <main class="main col-12 d-flex justify-content-center align-items-center">
                    <div class="col-11 bg-white h-75 rounded-2">
                        <app-dashboard></app-dashboard>
                    </div>
                </main>
                <footer class="footer col-12 d-flex justify-content-center align-items-center">
                    <p class="text-center text-white" style="font-size: 0.8rem;">تمامی حقوق مادی و معنوی این سامانه برای
                        شرکت ارتباطات زیرساخت ایران محفوظ است.</p>
                </footer>
            </div>
        </div>
    </div>

</div>