<!-- <div class="bg-light m-5 dashboard__container container">
    <div class="row project__card">
        <div class="col-12">
                <p-chart type="doughnut" [data]="data" [options]="options" [style]="{'height': '400px'}"
                  [responsive]="true" class="w-full md:w-[30rem]" />
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 bg-light w-full m-auto mr-1x p-1 md:w-[30rem] extrusion-shadow" style="height: 80vh;border-radius: 25px;">

            <div class="row">
                <div class="col-12 bg-danger"  style="height: 20vh;border-radius: 28px;">
                    1
                </div>
            </div>

            <div class="row">
                <div class="col-12"  style="height: 40vh;border-radius: 28px;">
                    <p-chart type="doughnut" [data]="data" [options]="options" [style]="{'height': '100%'}"
                    [responsive]="true"/>
                </div>
            </div>

            <div class="row bg-secondary"  style="height: 20vh;border-radius: 28px;">
                <div class="col-12">
                    3
                </div>
            </div>
   
          
        </div>
        <!-- <div class="col-md-3 col-sm-12 bg-info"  style="height: 40vh;border-radius: 28px;">
            B
        </div>
        <div class="col-md-3 col-sm-12 bg-danger"  style="height: 40vh;border-radius: 28px;">
            C
        </div> -->
        <div class="col-md-7 col-sm-12 bg-info"  style="height: 80vh;border-radius: 28px;">
            <div class="row">
                <div class="col-6 bg-body"  style="height: 40vh;border-radius: 28px;">
                    F
                </div>
                <div class="col-6 bg-danger"  style="height: 40vh;border-radius: 28px;">
                    J
                </div>
            </div>


            <div class="row">
                <div class="col-12 bg-info-subtle"  style="height: 30vh;border-radius: 28px;"> 
                    H
                </div>
            </div>
        </div>
    </div>


</div>